:root {
    // Controls
    --raflogn-control-color-primary: #5379b5;
    --raflogn-control-color-error: red;
    --raflogn-control-color-background: #2c2c2c;
    --raflogn-control-color-foreground: white;
    --raflogn-control-color-hover: #4c4c4c;
    --raflogn-control-color-active: #6c6c6c;
    --raflogn-control-color-disabled-foreground: gray;
    --raflogn-control-border-radius: 3px;

    // Sidebar
    --raflogn-sidebar-color-background: #3f3f3f;
    --raflogn-sidebar-color-foreground: white;

    // Nodes
    --raflogn-node-color-background: #3f3f3fcc;
    --raflogn-node-color-foreground: white;
    --raflogn-node-color-selected: var(--raflogn-control-color-primary);
    --raflogn-node-title-color-background: black;
    --raflogn-node-title-color-foreground: white;
    --raflogn-group-node-title-color-background: rgb(5, 75, 5);
    --raflogn-group-node-title-color-foreground: white;
    --raflogn-node-border-radius: 4px;

    // Connections
    --raflogn-color-connection-default: white;
    --raflogn-color-connection-allowed: green;
    --raflogn-color-connection-forbidden: red;

    // Background pattern
    --raflogn-editor-background-pattern-default: #232323;
    --raflogn-editor-background-pattern-line: #131313;
    --raflogn-editor-background-pattern-black: #00000022;

    // Context Menu
    --raflogn-context-menu-background: #000000cc;
    --raflogn-context-menu-shadow: 0 0 8px rgba(0, 0, 0, 0.65);

    // Toolbar
    --raflogn-toolbar-background: #0003;
    --raflogn-toolbar-foreground: white;

    // Node Palette
    --raflogn-node-palette-background: #0003;
    --raflogn-node-palette-foreground: white;

    // Misc
    --raflogn-visual-transition: 0.1s linear;
}
