:root {
    // Controls
    --raflogn-control-color-primary: #e28b46;
    --raflogn-control-color-error: #d00000;
    --raflogn-control-color-background: #2c3748;
    --raflogn-control-color-foreground: white;
    --raflogn-control-color-hover: #455670;
    --raflogn-control-color-active: #556986;
    --raflogn-control-color-disabled-foreground: #666c75;
    --raflogn-control-border-radius: 3px;

    // Sidebar
    --raflogn-sidebar-color-background: #1b202c;
    --raflogn-sidebar-color-foreground: white;

    // Nodes
    --raflogn-node-color-background: #1b202c;
    --raflogn-node-color-foreground: white;
    --raflogn-node-color-selected: var(--raflogn-control-color-primary);
    --raflogn-node-title-color-background: #151a24;
    --raflogn-node-title-color-foreground: white;
    --raflogn-group-node-title-color-background: #215636;
    --raflogn-group-node-title-color-foreground: white;
    --raflogn-node-border-radius: 6px;

    // Connections
    --raflogn-color-connection-default: #737f96;
    --raflogn-color-connection-allowed: #48bc79;
    --raflogn-color-connection-forbidden: #bc4848;

    // Background pattern
    --raflogn-editor-background-pattern-default: #202b3c;
    --raflogn-editor-background-pattern-line: #263140;
    --raflogn-editor-background-pattern-black: #263140;

    // Context Menu
    --raflogn-context-menu-background: #1b202c;
    --raflogn-context-menu-shadow: 0 0 8px rgba(0, 0, 0, 0.65);

    // Toolbar
    --raflogn-toolbar-background: #1b202caa;
    --raflogn-toolbar-foreground: white;

    // Node Palette
    --raflogn-node-palette-background: #1b202caa;
    --raflogn-node-palette-foreground: white;

    // Misc
    --raflogn-visual-transition: 0.1s linear;
}
