.raflogn-icon {
    display: block;
    height: 100%;

    &.--clickable {
        cursor: pointer;
        transition: color var(--raflogn-visual-transition);
    }

    &.--clickable:hover {
        color: var(--raflogn-control-color-primary);
    }
}
