.baklava-node-interface {
    padding: 0.25em 0;
    position: relative;

    .__port {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: calc(50% - 5px);
        cursor: crosshair;
        border: 2px solid #eee;
        &::before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #eee;
        }
    }

    &.--input {
        text-align: left;

        .__port {
            left: -2.5em;
        }
    }
    &.--output {
        text-align: right;

        .__port {
            right: -2.5em;
        }
    }
}
